# Dependencies, objects, and libraries
*.d
*.o
*.a

# Build directories
bin
lib
obj
build

# Tools
build_gcsa
convert_graph
gcsa_format

try_extend

count_kmers
query_gcsa
csa_builder
csa_query

convert_gcsa

# Paper
paper.pdf
gcsa2_text_indexes.pdf
gcsa2_graph_dbg.pdf
gcsa2_pruned_index.pdf

# LaTeX
*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.vtc

# Mac
.DS_Store

# vscode
.vscode