*.o
*.a

build_gcsa
convert_graph
count_kmers
gcsa_format
query_gcsa

csa_builder
csa_query

convert_gcsa

paper.pdf
gcsa2_text_indexes.pdf
gcsa2_graph_dbg.pdf
gcsa2_pruned_index.pdf

*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.vtc

.DS_Store

